$background-color_dark: #d0d0d0;
$background-color_light: #d0d0d0;
$color: contrast-color($background-color_dark);
$font-family_default: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-family_btn: inherit;

@page :root {
    font-family: $font-family_default;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: $color;
    background-color: $background-color_dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* ビヨヨン効果を無効化する 及び スクロール削除 */
    overscroll-behavior: none;
    overflow: clip;
    overflow-wrap: unset;
    overflow-inline: hidden;
    padding-top: 0;
}

#app {
    margin: 0 auto;
    padding: 0rem;
    text-align: center;

}

input {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: $font-family_btn;
    background-color: $background-color_dark;
    transition: border-color 0.25s;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: $font-family_btn;
    background-color: $background-color_dark;
    transition: border-color 0.25s;
}

.flex {
    display: flex;
    padding: 0px;
    max-width: 100%;
}

#file_img_wrapper {
    max-width: 100%;
    max-height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: $background-color_dark;
}

#file_img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    background-color: $background-color_dark;

    /* ビヨヨン効果を無効化する 及び スクロール削除 */
    overscroll-behavior: none;
    overflow: clip;
    overflow-wrap: unset;
    overflow-inline: hidden;
    padding-top: 0;
}

@media (prefers-color-scheme: light) {
    @page :root {
        color: $color;
        background-color: $background-color_dark;
    }

    button {
        background-color: $background-color_dark;
    }
}